<div class="well">
  <h2>Enter a zipcode:</h2>
  <form [formGroup]="form">
    <input type="text"
           placeholder="Zipcode"
           class="form-control"
           formControlName="zipcode">
    <br>
    <app-autocomplete-select
            formControlName="countryCode"
            [listData]="countries"
            [displayKey]="'name'"
            [valueKey]="'code'"
    ></app-autocomplete-select>
  </form>

  <app-load-button
          [normalState]="'Add location'"
          [loadState]="'Adding...'"
          [loadStateClass]="'btn-primary'"
          [doneState]="btnDoneState"
          [actionObservable]="actionObservable"
          (completed)="addLocation($event)">
  </app-load-button>
</div>

<ng-template #btnDoneState>
  Done
</ng-template>
